<div class="filter-panel" *ngIf="!loading">
	<mat-form-field>
	  <mat-label>Код</mat-label>
	  <mat-select [(ngModel)]="selectedCountry" (selectionChange)="onChangeCombo(country)">
	    <mat-option *ngFor="let country of countries" [value]="country.id">
	      {{country.name}}
	    </mat-option>
	  </mat-select>
	</mat-form-field>
	<mat-form-field>
	  <mat-label>Тип календаря</mat-label>
	  <mat-select [(ngModel)]="selectedWeekType" (selectionChange)="onChangeCombo(calendarType)">
	    <mat-option *ngFor="let calendarType of calendarTypes" [value]="calendarType.id">
	      {{calendarType.name}}
	    </mat-option>
	  </mat-select>
	</mat-form-field>
	<mat-form-field>
	  <mat-label>Год</mat-label>
	  <mat-select [(ngModel)]="selectedYear" (selectionChange)="onChangeCombo(year)">
	    <mat-option *ngFor="let year of years" [value]="year.id">
	      {{year.name}}
	    </mat-option>
	  </mat-select>
	</mat-form-field>
</div>
<div>
	<mat-list role="list" *ngIf="selectedWeekType && selectedYear && selectedCountry">
		<mat-list-item role="listitem" *ngFor="let month of months">
			<mat-radio-button color="primary" (change)="onChangeMonth(month)">
				{{month.name }}
			</mat-radio-button>
		</mat-list-item>
	</mat-list>
</div>
<div class="mat-spinner" *ngIf="loading">
	<mat-spinner *ngIf="loading"></mat-spinner>
	<span *ngIf="loading">Подождите, идёт загрузка...</span>
</div>

