.column {
  float: left;
}

.left{
  width: 20%;
}

.right {
  width: 35%
}

.middle {
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 2%;
  display: inline-block;
  background-color: #eee;
  border-radius: 10px;
  width: 45%;
}
nav a:last-child {
	margin-right: 1%;
	margin-left: 0;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #673ab7;
  background-color: #cfd8dc;
}
nav a.active {
  color: #673ab7;
}

nav {
	width: 100%;
}

